<?xml version="1.0" encoding="UTF-8"?>
<!-- Root of the Config -->
<Robot>
    <!-- Version of the current config to be printed on the console -->
    <Version version="1" />
    <!-- Comment on this particular config to be printed on the console -->
    <Comment comment="A" />
    <!-- Sets whether or not to initialize the NavX -->
    <UseNavX value="true" />
    <!-- Sets whether or not to initialize the camera to send back to the driver station -->
    <!-- Contains assignments to ports and robot dimensions -->
    <RobotConfig>
        <!-- Region for defining VictorSP Items -->
        <VictorSP>
            <intake channel="8" reversed="false"/>
        </VictorSP>
        <!-- Region for VictorSPX CAN Items -->
        <VictorSPX>
            <left_0 channel="2" reversed="false" />
            <left_1 channel="3" reversed="false" />
            <right_0 channel="0" reversed="true" />
            <right_1 channel="1" reversed="true" />
		
			<elevator_0 channel="4" reversed="false" />
            <elevator_1 channel="5" reversed="false" />
            <elevator_2 channel="6" reversed="true" />
            <elevator_3 channel="7" reversed="true" />
        </VictorSPX>
        <!-- Region for TalonSRX CAN Items -->
        <TalonSRX>
        </TalonSRX>
        <!-- Region for Potentiometers -->
        <Potentiometer>
        </Potentiometer>
        <!-- Region for Encoders -->
        <Encoder>
        </Encoder>
        <!-- Region for DoubleSolenoids -->
        <DoubleSolenoid>
            <hatch_open fChannel="0" rChannel="1" default="reverse"/>
            <wrist fChannel="2" rChannel="3" default="reverse"/>
			<hatch_push fChannel="4" rChannel="5" default="reverse"/>
		</DoubleSolenoid>
        <!-- Region for DigitalInputs -->
        <DigitalInput>
        </DigitalInput>
    </RobotConfig>

    <!-- Root of all control definitions -->
    <Controls>
        <!-- Driver Controller, slot should always be 0 -->
        <Driver slot="0">
            <AxisControls>
                <leftDrive axis="1" deadZone="0.08" reversed="false" powerMultiplier="0.8" bindings="left_0, left_1"/>
                <rightDrive axis="4" deadZone="0.08" reversed="false" powerMultiplier="0.8" bindings="right_0, right_1"/>
                <outtakeControl axis="2" deadZone="0.08" reversed="false" powerMultiplier="-0.8" bindings="intake"/>
            </AxisControls>
          <ButtonControls>
            <intakeButton button="0" powerMultiplier="0.8" isRamp="true" isAmpLimited="true" actOnRelease="true" bindings="intake"/>
          </ButtonControls>
        </Driver>
		<Operator slot="1">
			<AxisControls>
        <!--outtake_control axis="5" deadZone="0.08" reversed="true" powerMultiplier="1.0" bindings="intake"/>
				<elevator_control axis="1" deadZone="0.08" reversed="false" powerMultiplier="0.75" bindings="elevator_0, elevator_1, elevator_2, elevator_3"/-->
			</AxisControls>
			<ButtonControls>
        <!--intakeButton button="4" powerMultiplier="0.8" isRamp="true" isAmpLimited="true" actOnRelease="true"/-->
			</ButtonControls>
			<ToggleButtonControls>
        <!--hatch_push_control button="0" powerMultiplier="1.0" bindings="hatch_push"/>
				<hatch_open_control button="1" powerMultiplier="1.0" bindings="hatch_open"/>
				<wrist_control button="3" powerMultiplier="1.0" bindings="wrist"/-->
			</ToggleButtonControls>
		</Operator>
    </Controls>
</Robot>