<?xml version="1.0" encoding="UTF-8"?>
<!-- Root of the Config -->
<Robot>
    <!-- Version of the current config to be printed on the console -->
    <Version version="1" />
    <!-- Comment on this particular config to be printed on the console -->
    <Comment comment="A" />
    <!-- Sets whether or not to initialize the NavX -->
    <UseNavX value="true" />
    <!-- Sets whether or not to initialize the camera to send back to the driver station -->
    <!-- Contains assignments to ports and robot dimensions -->
    <Limelight />
    <RobotConfig>
        <!-- Region for defining VictorSP Items -->
        <VictorSP>
            <left_0 channel="0" reversed="true" />
            <left_1 channel="1" reversed="true" />
            <left_2 channel="2" reversed="true"/>
            <right_0 channel="3" reversed="true" />
            <right_1 channel="4" reversed="true" />
            <right_2 channel="5" reversed="true"/>
            <climb_0 channel="9" reversed="true"/>
            <climb_1 channel="17" reversed="true"/>
            <leftIntake channel="6" reversed="false"/>
            <rightIntake channel="7" reversed="false"/>
            <intakeDrop channel="8" reversed="false"/>
        </VictorSP>
        <!-- Region for VictorSPX CAN Items -->
        <VictorSPX>
        </VictorSPX>
        <!-- Region for TalonSRX CAN Items -->

        <TalonSRX>
        <lift channel="24" reversed="true"/>
        </TalonSRX>
        <!-- Region for Potentiometers -->
        <Potentiometer>
        </Potentiometer>
        <!-- Region for Encoders -->
        <Encoder>
            <enc aChannel="2" bChannel="3" reversed="false"/>
            <enc2 aChannel="5" bChannel="6" reversed="false"/>
        </Encoder>
        <!-- Region for DoubleSolenoids -->
        <DoubleSolenoid>
		</DoubleSolenoid>
        <!-- Region for DigitalInputs -->
        <DigitalInput>
            <!--limSwitch channel="4"/-->
        </DigitalInput>
    </RobotConfig>

    <!-- Root of all control definitions -->
    <Controls>
        <!-- Driver Controller, slot should always be 0 -->
        <Driver slot="0">
            <AxisControls>
                <leftDrive axis="1" deadZone="0.08" reversed="false" powerMultiplier="0.4" bindings="left_0, left_1, left_2" useOverdrive="true"/>
                <rightDrive axis="5" deadZone="0.08" reversed="true" powerMultiplier="0.4" bindings="right_0, right_1, right_2" useOverdrive="true"/>
            </AxisControls>
          <ButtonControls>
                <overdrive button="5" powerMultiplier="1.0" isOverdrive="true" />
                <poopybutt button="1" powerMultiplier="1.0" isOverdrive="true" />
          </ButtonControls>
          <ToggleButtonControls>
          </ToggleButtonControls>
        </Driver>
		<Operator slot="1">
			<AxisControls>
                <intakeDropControl axis="5" deadZone="0.3" reversed="true" powerMultiplier="0.5" bindings="intakeDrop"/>
                <liftControl axis="1" deadZone="0.1" reversed="true" powerMultiplier="0.9" bindings="lift"/>
                <!--<climbControl axis="2" deadZone="0.07" reversed="false" powerMultiplier="0.9"/>-->
                <intakeOutFastControl axis="3" deadZone=".07" reversed="false" powerMultiplier="-.6" bindings="rightIntake, leftIntake"/>
                
			</AxisControls>
			<ButtonControls>

            <intakeOutSlow button="2" actOnRelease="false" reversed="false" powerMultiplier="-.3" bindings="rightIntake, leftIntake" />
            <intakeInControlRight button="3" actOnRelease="true" reversed="false" powerMultiplier=".75" bindings="rightIntake" />
            <intakeInControlLeft button="3" actOnRelease="true" reversed="false" powerMultiplier=".9" bindings="leftIntake" />

			</ButtonControls>
            <GoalButtonControls>
            </GoalButtonControls>
			<ToggleButtonControls>
			</ToggleButtonControls>
		</Operator>
    </Controls>
</Robot>