<?xml version="1.0" encoding="UTF-8"?>
<!-- Root of the Config -->
<Robot>
    <!-- Set true or false based on if robot is at comp or not -->
    <Competition AtComp = "false" />
    <!-- Version of the current config to be printed on the console -->
    <Version version="1" />
    <!-- Comment on this particular config to be printed on the console -->
    <Comment comment="A" />
    <!-- Sets whether or not to initialize the NavX -->
    <UseNavX value="true" />
    <!-- Sets whether or not to initialize the camera to send back to the driver station -->
    <limeLight/>
    <ColorSensor name = "Color"/>
    <!-- Contains assignments to ports and robot dimensions -->
    <RobotConfig>
        <!-- Region for defining VictorSP Items -->
        <VictorSP>
            <Intake channel = "0" reversed = "false"/>
        </VictorSP>
        <!-- Region for VictorSPX CAN Items -->
        <VictorSPX>
            <Floor channel="6" reversed="true"/>
		    <indexer0 channel="7" reversed="true"/>
            <indexer1 channel="8"/>
        </VictorSPX>
        <!-- Region for TalonSRX CAN Items -->>
        <TalonSRX>
            <Spinner channel="4" reversed="false" enableEncoder="true"/>
			<Shooter1 channel="12" reversed="true" enableEncoder="false"/>
			<Shooter0 channel="13" reversed="false" enableEncoder="true"/>
        </TalonSRX>
        <!-- Region for SparkMax CAN Items -->
		<SparkMax>
			<left0 channel="2" reversed = "false"/>
			<left1 channel="3" reversed = "false"/>
			<right0 channel="4" reversed = "false"/>
			<right1 channel="1" reversed = "false"/>
		</SparkMax>
        <!-- Region for Potentiometers -->
        <Potentiometer>
        </Potentiometer>
        <!-- Region for Encoders -->
        <Encoder>
        </Encoder>
        <!-- Region for DoubleSolenoids -->
        <DoubleSolenoid>
            <IntakeDeploy fChannel="0" rChannel="1" default="reverse"/>
            <ShooterHood fChannel="2" rChannel="3" default="reverse"/>
            <Valve fChannel="4" rChannel="5" default="reverse"/>
		</DoubleSolenoid>
        <!-- Region for DigitalInputs -->
        <DigitalInput>
            <!--limSwitch channel="4"/-->
        </DigitalInput>
    </RobotConfig>

    <!-- Root of all control definitions -->
    <Controls>
        <!-- Driver Controller, slot should always be 0 -->
        <Driver slot="0">
            <AxisControls>
                <leftDrive axis="1" deadZone="0.08" reversed="true" powerMultiplier="0.7" bindings="left0,left1" useOverdrive="false"/>
		        <rightDrive axis="5" deadZone="0.08" reversed="false" powerMultiplier="0.7" bindings="right0,right1" useOverdrive="false"/>
		    </AxisControls>
            <ButtonControls>
            </ButtonControls>  
            <ToggleButtonControls>
            </ToggleButtonControls>
        </Driver>
		<Operator slot="1">
			<AxisControls>
                <shooting axis="3" deadZone=".05" reversed="false" powerMultiplier=".8" bindings="Shooter0, Shooter1" useOverdrive="false"/>
			</AxisControls>
			<ButtonControls>
                <IndexControl button="6" powerMultiplier=".6" bindings="indexer0, indexer1" actOnRelease="true"/>
                <movingfloor button="3" powerMultiplier=".4" bindings="Floor" actOnRelease="true"/>
                <movingfloorback button="1" powerMultiplier="-.4" bindings="Floor" actOnRelease="true"/>
                <Intake_Control button="5" powerMultiplier=".6" bindings="Intake, Floor, indexer0, indexer1" actOnRelease="true"/>
			</ButtonControls>
            <GoalButtonControls>
                <ShooterGoal-0 button ="2" goal ="ShooterGoal" params ="0"/>
            </GoalButtonControls>
			<ToggleButtonControls>
                <Intake_wrist_control button="10" powerMultiplier="1.0" bindings="IntakeDeploy"/>
                <Shooter_Hood_control button="9" powerMultiplier="1.0" bindings="ShooterHood"/>
			</ToggleButtonControls>
		</Operator>
    </Controls>
    <RobotCameraServer enabled="false">
    </RobotCameraServer>
    <!--Vision LS="0" US="3" LH="87" UH="126" LV="255" UV="255" MinA="1112" MaxA="82763" MaxO="62" LOWER_BOUND="0" UPPER_BOUND="1000" LEFT_BOUND="0" RIGHT_BOUND="1000"/-->
</Robot>